*, *::before, *::after {
    box-sizing: border-box;
}

/* root */
body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

ul, ol{
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Cormorant', 'Times New Roman', Times, serif, sans-serif;
}

header{
    height: auto;
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    min-height: 48px;
}

h1{
    font-size: 40px;
    line-height: 100%;
    font-weight: 900;
    font-family: 'Cormorant', 'Times New Roman', Times, serif, sans-serif;
}

p{
    font-size: 20px;
    line-height: 150%;
    font-weight: 400;
    font-family: 'Cormorant', 'Times New Roman', Times, serif, sans-serif;
    padding: 0;
    margin: 0;
}

/* customize */
header p {
    font-weight: 900;
}
header ul{
    display: flex;
}

header li{
    padding: 4px 16px;
    min-width: 40px;
    min-height: 24px;
}

aside{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 60vw;
    height: 100vh;
    background-color: white;
    box-shadow: -4px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

#open-aside{
    display: none;
}

i.mdi{
    font-size: 40px; 
    width: 40px;
    height: 40px;
    display: flex; 
    justify-content: center;
    align-items: center;
    cursor: pointer; 
}

#open-aside, #close-aside{
    position: absolute; 
    top: 4px;
    right: 4px; 
}

aside ul{
    margin-top: 48px;
}

aside li{
    display: flex;
    padding: 8px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40px;
}

#greeting{
    height: 250px;
    background-color: #D8E7F3;
    display: flex;
    justify-content: center;
    align-items: center;
}

#greeting h1{
    margin: 0;
    text-align: center;
}

#gallery{
    max-width: 1200px;
    margin:auto;
    padding: 32px 0;
}

.small-boxes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px 20px;
    margin: 8px 8px 20px 8px; 

}

.small-boxes li{
    background-color: #C1D6E1;
    display: flex;
    gap: 8px;
}

.small-boxes li div{
    height: 50px;
    width: 80px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-boxes img{
    height: 100%;
    width: auto;
    object-fit: cover;
    background-repeat: no-repeat;
}

.small-boxes p{
    margin: auto 0px;
}

.big-boxes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px 20px;
    margin: 8px 8px 20px 8px; 
}

.big-boxes li:first-child {
    grid-column: span 2;
}

.big-boxes li:nth-child(6) {
    grid-column: span 2;
}

.big-boxes li{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(./img/gallery-sample.jpg);
}


.big-boxes p{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    padding:8px;
}

.big-boxes i{
    width: 100%;
    color: rgb(255, 235, 14, 0.4);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding:8px;
}

@media (min-width: 600px) and (max-width: 1200px) {
    #gallery{
        width: 90%;
    }
    
    .small-boxes{
        grid-template-columns: 1fr 1fr;
    }

    .small-boxes li:nth-child(3) {
        grid-column: span 2;
    }
    
    .big-boxes{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    
    .big-boxes li:first-child, .big-boxes li:nth-child(6) {
        grid-column: span 1; 
    }

    .big-boxes li:nth-child(9), .big-boxes li:nth-child(10) {
        grid-column: span 2;
    }
}

@media (max-width: 600px) {
    header nav{
        display: none;
    }

    #open-aside{
        display: flex;
    }

    #gallery{
        width: 90%;
    }

    .small-boxes{
        grid-template-columns: 1fr;
    }
    
    .big-boxes{
        grid-template-columns: 1fr;
    }
    
    .big-boxes li:first-child, .big-boxes li:nth-child(6) {
        grid-column: span 1; 
    }
}