*, *::before, *::after {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

header{
    width: 100vw;
    background-color: rgb(19, 64, 128);
    height: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;}

h1{
    font-size: 40px;
    color: white;
    margin: auto;
    text-align: center;
}


main{
    max-width: 600px;
    margin: auto;
    padding: 32px 0;
}

h2{
    font-size: 32px;
    margin: 0;
    text-align: center;
}
h3{
    font-size: 28px;
    margin: 0;
    text-align: center;
}
form{
    font-size: 24px;
}

.input-style{
    gap: 24px;
    padding: 12px 0px; 
    display: flex;
    justify-content:center;
    align-items: center;
}

.input-style label{
    min-width: 64px;
}

.input-style input:not([type="checkbox"]) {
    font: inherit;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    width: 400px;
    padding: 0.35rem;
}

.input-style input:focus {
    border: 2px solid rgb(19, 64, 128);
}
  
.input-style input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
    min-width: unset;
}

.input-style input[type="submit"] {
    width: 400px;
    background-color: rgb(19, 64, 128);
    color: white;
    cursor: pointer;
}
  
.input-style input[type="submit"]:hover {
    background-color: rgb(13, 43, 85);
}
